{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-svelte",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-css-order"
  ],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "importOrder": [
    "^svelte",
    "<THIRD_PARTY_MODULES>",
    "^\\$lib/",
    "^[./]",
    "\\.svelte$",
    "^@lucide",
    ".*\\.(css|scss|less|sass)$"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "cssDeclarationSorterCustomOrder": [
    "font-size",
    "z-index",
    "scrollbar-gutter",
    "scrollbar-width",
    "scrollbar-color",
    "position",
    "left",
    "right",
    "top",
    "bottom",
    "box-sizing",
    "margin",
    "margin-inline",
    "margin-block",
    "margin-left",
    "margin-right",
    "margin-top",
    "margin-bottom",
    "border",
    "border-width",
    "border-left",
    "border-right",
    "border-top",
    "border-bottom",
    "padding",
    "padding-inline",
    "padding-block",
    "padding-left",
    "padding-right",
    "padding-top",
    "padding-bottom",
    "width",
    "min-width",
    "max-width",
    "height",
    "min-height",
    "max-height",
    "aspect-ratio",
    "container-type",
    "overflow",
    "overflow-x",
    "overflow-y",
    "display",
    "grid-template-rows",
    "grid-template-columns",
    "flex-direction",
    "flex-wrap",
    "justify-content",
    "align-items",
    "gap",
    "opacity",
    "color",
    "background",
    "background-color",
    "border-style",
    "border-color",
    "border-radius",
    "border-top-left-radius",
    "border-top-right-radius",
    "border-bottom-left-radius",
    "border-bottom-right-radius",
    "outline",
    "outline-width",
    "outline-offset",
    "outline-style",
    "outline-color",
    "clip-path",
    "font-family",
    "src",
    "font-weight",
    "font-style",
    "line-height",
    "letter-spacing",
    "text-align",
    "text-wrap-style",
    "text-decoration",
    "text-decoration-thickness",
    "text-underline-offset",
    "perspective",
    "transform-origin",
    "transform",
    "transform-style",
    "-webkit-transform-style",
    "transition",
    "pointer-events",
    "cursor",
    "-webkit-tap-highlight-color",
    "-webkit-user-select",
    "-ms-user-select",
    "user-select",
    "will-change"
  ]
}
