@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik.ttf') format('truetype');
}

html,
body {
  scrollbar-gutter: stable;

  margin: 0;
  padding: 0;
}

body {
  color: coral;
  background: #111521;
  font-family: 'Inconsolata';
}

pre {
  font-size: 1.15em;
  scrollbar-gutter: stable;
  padding: 1em;
  overflow-x: auto;
}

.subject-container,
.target-container {
  width: 14em;
  height: 12em;

  color: purple;
  outline: solid 2px;
}

.subject-container {
  position: fixed;
  left: 1em;
  top: 1em;

  color: yellow;
  outline-style: dotted;

  pointer-events: none;
}

.subject-element,
.target-element {
  font-size: 2em;

  width: 5em;
  height: 4em;

  color: yellow;
  outline: solid 2px;
  font-weight: 100;
}

.target-element {
  color: lime;
}

.default-subject-element {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  align-items: end;

  transform: translate(50px, 50px) rotate(15deg);
}

.hideSubject {
  opacity: 0;
}

// scrollbars

// firefox
* {
  scrollbar-width: thin;
  scrollbar-color: coral #12415a;
}

// chrome, edge, and safari
* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-track {
  background: #12415a;
}

* ::-webkit-scrollbar-thumb {
  border: none;
  background-color: coral;
  border-radius: 8px;
}
